@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-hidden min-h-screen;
  }
}

@layer utilities {
  
  .hoverLink {
    @apply relative
  }

  .hoverLink::after {
    @apply content-[''] bg-blue-500 h-[3px] transition-all duration-300 w-0 left-0 -bottom-[5px] rounded-xl absolute
  }
  
  .hoverLink:hover::after {
    @apply w-full
  }

  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
  }.star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }@media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }.star:nth-child(1) {
    --star-color: blue;
    --star-tail-length: 5.86em;
    --top-offset: 19.92vh;
    --fall-duration: 8.145s;
    --fall-delay: 7.572s;
  }.star:nth-child(2) {
    --star-color: rgb(17, 185, 17);
    --star-tail-length: 5.1em;
    --top-offset: 10.73vh;
    --fall-duration: 7.692s;
    --fall-delay: 3.346s;
  }
  .star:nth-child(3) {
    --star-color: yellow;
    --star-tail-length: 6.72em;
    --top-offset: 56.24vh;
    --fall-duration: 9.964s;
    --fall-delay: 1.803s;
  }.star:nth-child(4) {
    --star-color: red;
    --star-tail-length: 6.28em;
    --top-offset: 17.58vh;
    --fall-duration: 7.118s;
    --fall-delay: 7.678s;
  }.star:nth-child(5) {
    --star-color: rgb(17, 185, 17);
    --star-tail-length: 5.42em;
    --top-offset: 48.25vh;
    --fall-duration: 11.782s;
    --fall-delay: 2.606s;
  }
  .star:nth-child(6) {
    --star-color: yellow;
    --star-tail-length: 6.52em;
    --top-offset: 26.93vh;
    --fall-duration: 7.151s;
    --fall-delay: 6.53s;
  }
  .star:nth-child(7) {
    --star-color: rgb(17, 185, 17);
    --star-tail-length: 6.6em;
    --top-offset: 71.7vh;
    --fall-duration: 9.823s;
    --fall-delay: 0.959s;
  }
  .star:nth-child(8) {
    --star-color: blue;
    --star-tail-length: 6.27em;
    --top-offset: 19.2vh;
    --fall-duration: 8.668s;
    --fall-delay: 0.183s;
  }
  .star:nth-child(9) {
    --star-color: red;
    --star-tail-length: 6.99em;
    --top-offset: 24.72vh;
    --fall-duration: 10.179s;
    --fall-delay: 0.688s;
  }
  .star:nth-child(10) {
    --star-color: blue;
    --star-tail-length: 6.6em;
    --top-offset: 68.27vh;
    --fall-duration: 7.015s;
    --fall-delay: 8.727s;
  }
  .star:nth-child(11) {
    --star-color: yellow;
    --star-tail-length: 5.29em;
    --top-offset: 54.65vh;
    --fall-duration: 6.403s;
    --fall-delay: 5.263s;
  }
  .star:nth-child(12) {
    --star-color: rgb(17, 185, 17);
    --star-tail-length: 6.57em;
    --top-offset: 16.04vh;
    --fall-duration: 11.763s;
    --fall-delay: 3.944s;
  }
  .star:nth-child(13) {
    --star-color: red;
    --star-tail-length: 5.59em;
    --top-offset: 33.64vh;
    --fall-duration: 11.713s;
    --fall-delay: 4.787s;
  }
  .star:nth-child(14) {
    --star-color: yellow;
    --star-tail-length: 6.43em;
    --top-offset: 69.03vh;
    --fall-duration: 9s;
    --fall-delay: 8.525s;
  }
  .star:nth-child(15) {
    --star-color: red;
    --star-tail-length: 7.35em;
    --top-offset: 28.41vh;
    --fall-duration: 6.508s;
    --fall-delay: 8.391s;
  }
  
  .star::before, .star::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }

}